<div class="container margin-top-large">
  <!-- <div class="panel panel-primary"> -->
    <!-- <div class="panel-heading">
      {{blogs.title}}
    </div> -->
    
    <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <a href="#" class="thumbnail">
        <img data-src="#" alt="">
        {{blogs.text}}
      </a>
    </div> -->

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
  <div class="thumbnail">
    <!-- <img data-src="#" alt=""> -->
    <div class="caption">
      <h3>{{blogs.title}}</h3>
      <p>
        {{blogs.text}}
      </p>
    </div>
  </div>
</div>

<ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active" routerLink="./" [routerLinkActiveOptions]="{exact:
        true}"><a>Comments</a></li>
    <li role="presentation" routerLinkActive="active" routerLink="./add"><a>Add new Post</a></li>
</ul>
<router-outlet></router-outlet>

  <!-- </div> -->
</div>