

<div class="list-group" *ngIf="reviews">
  <br>
  <a class="list-group-item active">
      User reviews
  </a>
  <a class="list-group-item" *ngFor="let review of reviews">
      <!-- <app-star-rating [rating]="review.starRating"></app-star-rating> -->
      <h4 class="review-title">{{review.title}}</h4>
      <div>
          <small>
              By <span>{{review.name}}</span>
          </small>
      </div>
      <p class="review-text">{{review.text}}</p>
  </a>
</div>

<form  role="form" (ngSubmit)="submitComments( form.value )" #form="ngForm">
  <legend>Add your Comments Here</legend>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="comments.title" placeholder="Type your Title Here">
  </div>
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="comments.name" placeholder="Type your Name Here">
    </div>

  <div class="form-group">
    <label for="text">Comment:</label>
    <textarea class="form-control" rows="5" id="text" name="text" [(ngModel)]="comments.text"></textarea>
  </div>


  <button type="submit"  value="Post comments" class="btn btn-primary">Submit</button>
</form>