
<div class="container">
<form action="" method="POST" role="form">
  <legend>Post New Blog Here</legend>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Type your Title Here">
  </div>

  <div class="form-group">
    <label for="comment">Type your blog here:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>




