<div class="container">
  <h2>Blog catalog</h2>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let blog of blogs">
  <a [routerLink]="blog.id" class="thumbnail">
    <!-- <div class="thumbnail"> -->
    <!-- <img data-src="#" alt=""> -->         
  <table class=" table table-striped table-bordered">
    <thead>
      <tr>
        <th>Auther Name</th>
        <th>Title</th>
        <th>Posted Date</th>
        <th>Discription</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <!-- <tr *ngFor="let blog of blogs"> -->
        <td>{{blog.authorId}}</td>
        <td>
          <!-- <a [routerLink]="blog.id">{{blog.title}}</a> -->
          {{blog.title}}
        </td>
        <td>{{blog.postedDate}}</td>
        <td>{{blog.text| ellipsize:100}}</td>
      </tr>
    </tbody>
  </table>

<!-- </div> -->
  </a>
</div>
</div>